<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="org.example.zzzyxwvut.armaria.debug.DebuggingBeanPostProcessor" />
	<bean class="org.dozer.spring.DozerBeanMapperFactoryBean" />

	<context:component-scan base-package="org.example.zzzyxwvut.armaria.listeners" />
	<context:component-scan base-package="org.example.zzzyxwvut.armaria.service.impl" />
	<context:component-scan base-package="org.example.zzzyxwvut.armaria.dozer" />
	<context:component-scan base-package="org.example.zzzyxwvut.armaria.dozer.impl" />

	<import resource="classpath:security-config.xml" />
	<import resource="classpath:dao-config.xml" />
	<import resource="classpath:mail-config.xml" />
</beans>
